body {
  background-image: url("/image/background.png"); }

h1, h2 {
  color: #f8f9fa; }

a {
  color: #333; }

a:hover {
  text-decoration: none;
  color: #1e6dbb; }

.move-up {
  position: fixed;
  bottom: 50px;
  right: 20px;
  cursor: pointer; }

.move-down {
  position: fixed;
  bottom: 10px;
  right: 20px;
  cursor: pointer; }

h8 {
  color: #fff; }

.dropdown {
  position: relative; }

#tableContainer {
  position: absolute;
  background: white;
  border: 1px solid black;
  padding: 10px;
  z-index: 1; }

.drop-table {
  color: #fff; }

.drop-table:hover {
  color: #22a324; }

.image-card {
  height: 250px; }

.body {
  background-color: #343a40;
  border-radius: 10px; }

.card {
  border-radius: 5px;
  height: 445px;
  transition: transform 0.5s ease; }

.card:hover {
  transform: scale(1.1); }

.more-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.xem-them {
  text-align: center;
  position: relative;
  top: 300px;
  color: #e4598c; }

.nav-body {
  background-color: #6c757d;
  border-radius: 10px; }

.content {
  margin-left: 20px; }

.related-manga {
  background-color: #6c757d; }

h4 {
  color: #16103b; }

@media (max-width: 767px) {
  .chapter-btn {
    display: flex;
    justify-content: center; } }

.img-fluid {
  width: 100%; }

.title-chap {
  text-align: center;
  padding-top: 10px; }

.pagination {
  display: flex;
  justify-content: center; }
