<footer class="bg-light text-center text-lg-start">
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var moveUp = document.querySelector('.move-up');
      moveUp.addEventListener('click', function () {
        window.scrollTo({ top: 0, behavior: 'smooth' });
      });

      var moveDown = document.querySelector('.move-down');
      moveDown.addEventListener('click', function () {
        window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' });
      });
    });
  </script>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #343a40; color: #fafafa;">
    © 2023 Copyright:
    <a href="/">Home</a>
  </div>
  <!-- Copyright -->
</footer>