<!DOCTYPE html>
<html>

<head>
  <title>Truyện tranh</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="vendor/themify-icons/themify-icons.css">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <script>
    function toggleTable() {
      var tableContainer = document.getElementById("tableContainer");
      if (tableContainer.style.display === "none") {
        tableContainer.style.display = "block";
        document.addEventListener("click", closeTableOutsideClick);
      } else {
        tableContainer.style.display = "none";
        document.removeEventListener("click", closeTableOutsideClick);
      }
    }

    function closeTableOutsideClick(event) {
      var tableContainer = document.getElementById("tableContainer");
      var dropdown = document.querySelector(".dropdown");
      if (!dropdown.contains(event.target)) {
        tableContainer.style.display = "none";
        document.removeEventListener("click", closeTableOutsideClick);
      }
    }

    let scrollPosition = window.pageYOffset;
    window.addEventListener('scroll', function() {
      const header = document.querySelector('.header');
      const currentScrollPosition = window.pageYOffset;

      if (currentScrollPosition < scrollPosition && currentScrollPosition > 0) {
        header.style.position = 'fixed';
        header.style.top = 0;
      } else {
        header.style.position = 'static';
      }

      scrollPosition = currentScrollPosition;
    });
  </script>
</head>